.weather-card {
  font-family: sans-serif;
  text-align: center;
  background-color: #bfb4af;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 100vh;
  margin: 0 auto;
  height: 380px;
}

h1{
  margin: 0;
  padding: 0;

}
h2{
  margin: 10px;
}
.App{
  font-size: 10px;
}
ul {
  list-style: none;
}

#cityInput {
  width: 300px;
  margin-right: 40px;
  font-size: 16px;
  border-radius: 5px;
  height: 30px;
  box-shadow: 3px 5px rgba(26, 26, 26, 0.1);
  
}

#searchButton {
  font-size: 16px;
  height: 35px;
  border-radius: 3px;
  box-shadow: 5px 5px rgba(26, 26, 26, 0.1);
  color: rgb(12, 133, 133);
}

.description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
}

.weather-icon {
  width: 150px;
  height: 100px;
  margin-right: 5px;
  vertical-align: middle;
}

.weather-list-item {
  margin-bottom: 10px;
}

.clear-icon {
  position: relative;
  right: 60px;
  cursor: pointer;
  font-size: 10px;
}

.temp{
  color: rgb(3, 105, 108);
}
.descr{
  font-size: 15px;
}
.col{
  font-size: 25px;
  color: rgb(9, 64, 64);
}

.link {
  margin-top: 8px;

}

.link a {
  color: blue;
  text-decoration: none;
  
}

.link a:hover {
  text-decoration: underline;
  color: rgb(26, 126, 126);
}

